# from https://github.com/github/gitignore/blob/master/Node.gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
tags
pids
logs
results
build

node_modules

# extras
*.swp
*.swo
*~
.project
peerdb.json

npm-debug.log
.nodemonignore

.DS_Store
public/lib/*
!public/lib/zeroclipboard/ZeroClipboard.swf
db/txs/*
db/txs
db/testnet/txs/*
db/testnet/txs
db/blocks/*
db/blocks
db/testnet/blocks/*
db/testnet/blocks

public/js/angularjs-all.js
public/js/main.js
public/js/vendors.js

public/css/main.css

README.html
po/*
!po/*.po

.idea/.name

.idea/encodings.xml

.idea/insight2.iml

.idea/jsLibraryMappings.xml

.idea/libraries/insight2_node_modules.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/workspace.xml

.idea/vcs.xml

.idea/insight2.iml

.idea/insight2.iml

.idea/insight2.iml
